@model MyJSGames.Models.GameScore

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GameScore</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GameId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player.displayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.displayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.whenPlayed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.whenPlayed)
        </dd>
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.GameScoreId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
